@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bodoni Moda', serif;
}
.container{
    min-height: 100vh;
    background: linear-gradient(to right, rgb(34, 32, 32),rgb(5, 59, 5));
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
}
h3{
    margin-top: 20px;
    color:#fff;
    font-size: 2rem;
    text-align: center;
}
p{
    color:#fff;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left{
    flex-basis:30%;
}
.right{
    /* height:400px; */
    flex-basis: 50%;
    display:grid;
    gap:8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
}
.box{
    background-size: cover;
    display:flex;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: rgb(66, 66, 66);
    background-blend-mode: hard-light;
    cursor:pointer;
}
.box:hover{
    background-position: bottom;
    transition: all 1s ease-in-out;
    background-color: rgb(167, 163, 163);
    box-shadow: 0 0 4px rgb(226, 223, 223);
}
.topp{
    background-position: top !important;
}
#spcl:hover{
    background-position: right !important;
}
.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}
#spcltop:hover{
    background-position: right;
}


/* responsive */

@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        gap:10px;
    }
    .right{
        grid-template-columns: 1fr;
        grid-auto-rows: 220px;
    }
    .row-2{
        grid-row:span 1;
    }
    .col-2{
        grid-column: span 1;
    }
    .box{
        width:100vw;
    }
    
}